/* ==UserStyle==
@name           DiscordRevamp
@description    A revamped theme inspired by the Discord promotional materials.
@version        1.0.0
@author         https://github.com/ruukulada
@namespace      https://github.com/ruukulada
==/UserStyle== */
@-moz-document domain("discord.com") {
  /* https://github.com/ruukulada/DiscordRevamp */
  ul[data-list-id=guildsnav] div {
    --radius-xs: 2147483647px;
    --radius-sm: 2147483647px;
    --radius-md: 2147483647px;
    --radius-lg: 2147483647px;
    --radius-xl: 2147483647px;
    --radius-xxl: 2147483647px;
    --radius-round: 2147483647px;
  }
  ul[data-list-id=guildsnav] foreignObject[mask^="url(#"],
  ul[data-list-id=guildsnav] div[class*=-folderPreview]:nth-child(-n+4) {
    border-radius: 50%;
  }
  a, li {
    -webkit-user-drag: none;
  }
  /* hide groomer junk */
  a[href="https://support.discord.com"],
  button[aria-label=Apps],
  div[aria-label=Friends] > div:nth-child(4),
  div[aria-label=Apps],
  div[aria-label="Send a gift"],
  div[id=textarea-context] > div > div[role=separator],
  div[id=textarea-context-languages],
  div[id=textarea-context-spellcheck],
  div[id=textarea-context-submit-button],
  div[id=textarea-context-suggestions],
  div[id=textarea-context-vcd-spellcheck-settings],
  div:has(> div > div[class$=-rewardTileWithInstructions]),
  div:has(> div > div > div > button[aria-label="Start An Activity"]),
  div:has(> div > div > div > button[aria-label="Start An Activity"]) + div,
  div:has(> div > svg > foreignObject > div[aria-label="Download Apps"]),
  div.root__175e2,
  h2.vc-pindms-section-container,
  section[aria-label="User area"] > div[class$=-mask],
  ul[aria-label="Direct Messages"] > :has(a[href="/store"], a[href="/shop"], a[href="/quest-home"]),
  ul[data-list-id=guildsnav] > div > div > div:nth-child(n+5):nth-child(-n+6) {
    display: none;
  }
  div[aria-label="Close DM"],
  div[aria-label="Leave Group"] {
    pointer-events: none;
    position: absolute;
    visibility: hidden;
  }
  :root {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
  }
}
