/**
 * @name Discord Revamp
 * @description A revamped Discord, inspired by the Discord's promotional materials.
 * @version 1.0
 * @author ruukulada
**/
.theme-dark,
.theme-light,
:root {
  --activity-card-background: var(--background-primary);
  --background: var(--background-primary);
  --background-accent: #413f66;
  --background-extra: var(--background-primary);
  --background-floating: #15141e;
  --background-modifier-accent: var(--background-color);
  --background-modifier-active: #ffffff07;
  --background-modifier-hover: #ffffff02;
  --background-modifier-selected: #ffffff09;
  --background-primary: #292841;
  --background-secondary-alt: #191827;
  --background-secondary: #242338;
  --background-tertiary: #1c1b29;
  --channels-default: #ffffff9f;
  --channeltextarea-background: var(--background-accent);
  --channel-text-area-placeholder: #ffffff50;
  --focus-primary: var(--background-primary);
  --header-primary: #ffffff;
  --header-secondary: var(--interactive-normal);
  --home-background: var(--background-primary);
  --input-background: var(--background-tertiary);
  --interactive-active: var(--header-primary);
  --interactive-hover: #ffffffdd;
  --interactive-muted: #ffffff74;
  --interactive-normal: #ffffffc8;
  --modal-background: var(--background-primary);
  --scrollbar-auto-thumb: var(--background-secondary);
  --scrollbar-auto-track: transparent;
  --scrollbar-thin-thumb: var(--background-tertiary);
  --scrollbar-thin-track: transparent;
  --settings-alt-focused: var(--interactive-normal);
  --settings-guild-delete: var(--settings-logout);
  --settings-guild-premium: var(--interactive-normal);
  --settings-hypesquad: var(--interactive-normal);
  --settings-icon-color: var(--interactive-normal);
  --settings-logout: #f04747;
  --settings-subscriptions: var(--interactive-normal);
  --text-muted: #ffffffb6;
  --text-normal: #fffffffb;
  --toast-background: var(--background-primary);
  --toast-border: var(--background-tertiary);
  --toast-box-shadow: #00000032;
  --toast-contents: var(--background-secondary);
  --toast-header: var(--background-tertiary);
}

/* hide groomer garbage */
a[data-list-item-id$="___nitro"]
  { display: none; } /* nitro page */
a[data-list-item-id$="___shop"]
  { display: none; } /* shop page */
a[href="https://support.discord.com"]
  { display: none; } /* help button */
button[aria-label="Send a gift"]
  { display: none; } /* gift nitro button */
div.listItem__48528:has(div[aria-label="Add a Server"])
  { display: none; } /* add server button */
div.listItem__48528:has(div[aria-label="Explore Discoverable Servers"])
  { display: none; } /* public servers button */
div.item_e4ca95:nth-of-type(4)
  { display: none; } /* suggested friends */
div.sidebarRegion__36437
  { flex: 1; } /* settings alignment */
