ul[data-list-id="guildsnav"] {
  div {
    --radius-xs: 2147483647px;
    --radius-sm: 2147483647px;
    --radius-md: 2147483647px;
    --radius-lg: 2147483647px;
    --radius-xl: 2147483647px;
    --radius-xxl: 2147483647px;
    --radius-round: 2147483647px;
  }
  foreignObject[mask^="url(#"],
  div[class*="-folderPreview"]:nth-child(-n+4) {
    border-radius: 50%;
  }
}
