.custom-theme-background {
  --bg-overlay-1:         inherit;
  --bg-overlay-2:         inherit;
  --bg-overlay-3:         inherit;
  --bg-overlay-4:         inherit;
  --bg-overlay-5:         inherit;
  --bg-overlay-6:         inherit;
  --bg-overlay-hover:     inherit;
  --bg-overlay-active:    inherit;
  --bg-overlay-selected:  inherit;
  --bg-overlay-chat:      inherit;
  --bg-overlay-home:      inherit;
  --bg-overlay-home-card: inherit;
  --bg-overlay-app-frame: inherit;
  --bg-overlay-floating:  inherit;
}
