@use "../components/nitro-no-gradient";

$s: 37;
@mixin generate-palette($h, $custom: false) {
  :root:not(.custom-theme-background) {
    @for $i from 1 through 49 {
      @if $custom {
        --neutral-#{$i}-hsl:var(--h) calc(var(--saturation-factor)*#{$s}) #{101.392 - $i * 1.392};
      } @else {
        --neutral-#{$i}-hsl:#{$h} calc(var(--saturation-factor)*#{$s}) #{101.392 - $i * 1.392};
      }
    }
    @for $i from 50 through 93 {
      @if $custom {
        --neutral-#{$i}-hsl:var(--h) calc(var(--saturation-factor)*#{$s}) #{63.688 - $i * 0.611};
      } @else {
        --neutral-#{$i}-hsl:#{$h} calc(var(--saturation-factor)*#{$s}) #{63.688 - $i * 0.611};
      }
    }
    @for $i from 94 through 100 {
      @if $custom {
        --neutral-#{$i}-hsl: var(--h) calc(var(--saturation-factor)*#{$s}) #{98.033 - $i * 0.980};
      } @else {
        --neutral-#{$i}-hsl: #{$h} calc(var(--saturation-factor)*#{$s}) #{98.033 - $i * 0.980};
      }
    }

    @if $custom {
      --opacity-1-hsl: var(--h) calc(var(--saturation-factor)*#{$s}) 60;
    } @else {
      --opacity-1-hsl: #{$h} calc(var(--saturation-factor)*#{$s}) 60;
    }
    @for $i from 4 through 96 {
      @if $i % 4 == 0 {
        @if $custom {
          --opacity-#{$i}-hsl: var(--h) calc(var(--saturation-factor)*#{$s}) 60;
        } @else {
          --opacity-#{$i}-hsl: #{$h} calc(var(--saturation-factor)*#{$s}) 60;
        }
      }
    }
  }
}
