@import url('https://ruukulada.github.io/DiscordRevamp/styles/components/nitro-no-gradient.css');

:root:not(.custom-theme-background) {
  --neutral-1-hsl:     0 calc(var(--saturation-factor)*  0) 100     ;
  --neutral-2-hsl:     0 calc(var(--saturation-factor)*  0)  98.431 ;
  --neutral-3-hsl:   243 calc(var(--saturation-factor)* 40)  97.059 ;
  --neutral-4-hsl:   243 calc(var(--saturation-factor)* 40)  95.49  ;
  --neutral-5-hsl:   243 calc(var(--saturation-factor)* 40)  93.922 ;
  --neutral-6-hsl:   243 calc(var(--saturation-factor)* 40)  92.549 ;
  --neutral-7-hsl:   243 calc(var(--saturation-factor)* 40)  90.98  ;
  --neutral-8-hsl:   243 calc(var(--saturation-factor)* 40)  89.608 ;
  --neutral-9-hsl:   243 calc(var(--saturation-factor)* 40)  88.039 ;
  --neutral-10-hsl:  243 calc(var(--saturation-factor)* 40)  86.667 ;
  --neutral-11-hsl:  243 calc(var(--saturation-factor)* 40)  85.098 ;
  --neutral-12-hsl:  243 calc(var(--saturation-factor)* 40)  83.529 ;
  --neutral-13-hsl:  243 calc(var(--saturation-factor)* 40)  82.353 ;
  --neutral-14-hsl:  243 calc(var(--saturation-factor)* 40)  80.784 ;
  --neutral-15-hsl:  243 calc(var(--saturation-factor)* 40)  79.412 ;
  --neutral-16-hsl:  243 calc(var(--saturation-factor)* 40)  77.843 ;
  --neutral-17-hsl:  243 calc(var(--saturation-factor)* 40)  76.471 ;
  --neutral-18-hsl:  243 calc(var(--saturation-factor)* 40)  74.902 ;
  --neutral-19-hsl:  243 calc(var(--saturation-factor)* 40)  73.725 ;
  --neutral-20-hsl:  243 calc(var(--saturation-factor)* 40)  72.157 ;
  --neutral-21-hsl:  243 calc(var(--saturation-factor)* 40)  70.784 ;
  --neutral-22-hsl:  243 calc(var(--saturation-factor)* 40)  69.216 ;
  --neutral-23-hsl:  243 calc(var(--saturation-factor)* 40)  68.039 ;
  --neutral-24-hsl:  243 calc(var(--saturation-factor)* 40)  66.471 ;
  --neutral-25-hsl:  243 calc(var(--saturation-factor)* 40)  65.098 ;
  --neutral-26-hsl:  243 calc(var(--saturation-factor)* 40)  63.725 ;
  --neutral-27-hsl:  243 calc(var(--saturation-factor)* 40)  62.353 ;
  --neutral-28-hsl:  243 calc(var(--saturation-factor)* 40)  60.784 ;
  --neutral-29-hsl:  243 calc(var(--saturation-factor)* 40)  59.608 ;
  --neutral-30-hsl:  243 calc(var(--saturation-factor)* 40)  58.235 ;
  --neutral-31-hsl:  243 calc(var(--saturation-factor)* 40)  56.667 ;
  --neutral-32-hsl:  243 calc(var(--saturation-factor)* 40)  55.49  ;
  --neutral-33-hsl:  243 calc(var(--saturation-factor)* 40)  53.922 ;
  --neutral-34-hsl:  243 calc(var(--saturation-factor)* 40)  52.745 ;
  --neutral-35-hsl:  243 calc(var(--saturation-factor)* 40)  51.373 ;
  --neutral-36-hsl:  243 calc(var(--saturation-factor)* 40)  50     ;
  --neutral-37-hsl:  243 calc(var(--saturation-factor)* 40)  48.627 ;
  --neutral-38-hsl:  243 calc(var(--saturation-factor)* 40)  47.451 ;
  --neutral-39-hsl:  243 calc(var(--saturation-factor)* 40)  45.882 ;
  --neutral-40-hsl:  243 calc(var(--saturation-factor)* 40)  44.706 ;
  --neutral-41-hsl:  243 calc(var(--saturation-factor)* 40)  43.529 ;
  --neutral-42-hsl:  243 calc(var(--saturation-factor)* 40)  42.157 ;
  --neutral-43-hsl:  243 calc(var(--saturation-factor)* 40)  40.784 ;
  --neutral-44-hsl:  243 calc(var(--saturation-factor)* 40)  39.412 ;
  --neutral-45-hsl:  243 calc(var(--saturation-factor)* 40)  38.235 ;
  --neutral-46-hsl:  243 calc(var(--saturation-factor)* 40)  37.059 ;
  --neutral-47-hsl:  243 calc(var(--saturation-factor)* 40)  35.49  ;
  --neutral-48-hsl:  243 calc(var(--saturation-factor)* 40)  34.314 ;
  --neutral-49-hsl:  243 calc(var(--saturation-factor)* 40)  33.137 ;
  --neutral-50-hsl:  243 calc(var(--saturation-factor)* 40)  33.137 ;
  --neutral-51-hsl:  243 calc(var(--saturation-factor)* 40)  32.353 ;
  --neutral-52-hsl:  243 calc(var(--saturation-factor)* 40)  31.765 ;
  --neutral-53-hsl:  243 calc(var(--saturation-factor)* 40)  31.176 ;
  --neutral-54-hsl:  243 calc(var(--saturation-factor)* 40)  30.588 ;
  --neutral-55-hsl:  243 calc(var(--saturation-factor)* 40)  29.804 ;
  --neutral-56-hsl:  243 calc(var(--saturation-factor)* 40)  29.216 ;
  --neutral-57-hsl:  243 calc(var(--saturation-factor)* 40)  28.431 ;
  --neutral-58-hsl:  243 calc(var(--saturation-factor)* 40)  28.039 ;
  --neutral-59-hsl:  243 calc(var(--saturation-factor)* 40)  27.255 ;
  --neutral-60-hsl:  243 calc(var(--saturation-factor)* 40)  26.471 ;
  --neutral-61-hsl:  243 calc(var(--saturation-factor)* 40)  25.882 ;
  --neutral-62-hsl:  243 calc(var(--saturation-factor)* 40)  25.294 ;
  --neutral-63-hsl:  243 calc(var(--saturation-factor)* 40)  24.706 ;
  --neutral-64-hsl:  243 calc(var(--saturation-factor)* 40)  23.922 ;
  --neutral-65-hsl:  243 calc(var(--saturation-factor)* 40)  23.529 ;
  --neutral-66-hsl:  243 calc(var(--saturation-factor)* 40)  22.745 ;
  --neutral-67-hsl:  243 calc(var(--saturation-factor)* 40)  22.157 ;
  --neutral-68-hsl:  243 calc(var(--saturation-factor)* 40)  21.569 ;
  --neutral-69-hsl:  243 calc(var(--saturation-factor)* 40)  20.98  ;
  --neutral-70-hsl:  243 calc(var(--saturation-factor)* 40)  20.392 ;
  --neutral-71-hsl:  243 calc(var(--saturation-factor)* 40)  19.608 ;
  --neutral-72-hsl:  243 calc(var(--saturation-factor)* 40)  19.216 ;
  --neutral-73-hsl:  243 calc(var(--saturation-factor)* 40)  18.431 ;
  --neutral-74-hsl:  243 calc(var(--saturation-factor)* 40)  18.039 ;
  --neutral-75-hsl:  243 calc(var(--saturation-factor)* 40)  17.255 ;
  --neutral-76-hsl:  243 calc(var(--saturation-factor)* 40)  16.667 ;
  --neutral-77-hsl:  243 calc(var(--saturation-factor)* 40)  16.275 ;
  --neutral-78-hsl:  243 calc(var(--saturation-factor)* 40)  15.49  ;
  --neutral-79-hsl:  243 calc(var(--saturation-factor)* 40)  15.098 ;
  --neutral-80-hsl:  243 calc(var(--saturation-factor)* 40)  14.314 ;
  --neutral-81-hsl:  243 calc(var(--saturation-factor)* 40)  13.725 ;
  --neutral-82-hsl:  243 calc(var(--saturation-factor)* 40)  13.333 ;
  --neutral-83-hsl:  243 calc(var(--saturation-factor)* 40)  12.549 ;
  --neutral-84-hsl:  243 calc(var(--saturation-factor)* 40)  12.157 ;
  --neutral-85-hsl:  243 calc(var(--saturation-factor)* 40)  11.373 ;
  --neutral-86-hsl:  243 calc(var(--saturation-factor)* 40)  10.98  ;
  --neutral-87-hsl:  243 calc(var(--saturation-factor)* 40)  10.392 ;
  --neutral-88-hsl:  243 calc(var(--saturation-factor)* 40)   9.804 ;
  --neutral-89-hsl:  243 calc(var(--saturation-factor)* 40)   9.216 ;
  --neutral-90-hsl:  243 calc(var(--saturation-factor)* 40)   8.824 ;
  --neutral-91-hsl:  243 calc(var(--saturation-factor)* 40)   8.039 ;
  --neutral-92-hsl:  243 calc(var(--saturation-factor)* 40)   7.451 ;
  --neutral-93-hsl:  243 calc(var(--saturation-factor)* 40)   6.863 ;
  --neutral-94-hsl:  243 calc(var(--saturation-factor)* 40)   5.882 ;
  --neutral-95-hsl:  243 calc(var(--saturation-factor)* 40)   5.098 ;
  --neutral-96-hsl:  243 calc(var(--saturation-factor)* 40)   4.314 ;
  --neutral-97-hsl:  243 calc(var(--saturation-factor)* 40)   3.137 ;
  --neutral-98-hsl:  243 calc(var(--saturation-factor)* 40)   2.157 ;
  --neutral-99-hsl:  243 calc(var(--saturation-factor)* 40)   0.98  ;
  --neutral-100-hsl:   0 calc(var(--saturation-factor)* 40)   0     ;

  --opacity-1-hsl:   243 calc(var(--saturation-factor)* 40)  60     ;
  --opacity-4-hsl:   243 calc(var(--saturation-factor)* 40)  60     ;
  --opacity-8-hsl:   243 calc(var(--saturation-factor)* 40)  60     ;
  --opacity-12-hsl:  243 calc(var(--saturation-factor)* 40)  60     ;
  --opacity-16-hsl:  243 calc(var(--saturation-factor)* 40)  60     ;
  --opacity-20-hsl:  243 calc(var(--saturation-factor)* 40)  60     ;
  --opacity-24-hsl:  243 calc(var(--saturation-factor)* 40)  60     ;
  --opacity-28-hsl:  243 calc(var(--saturation-factor)* 40)  60     ;
  --opacity-32-hsl:  243 calc(var(--saturation-factor)* 40)  60     ;
  --opacity-36-hsl:  243 calc(var(--saturation-factor)* 40)  60     ;
  --opacity-40-hsl:  243 calc(var(--saturation-factor)* 40)  60     ;
  --opacity-44-hsl:  243 calc(var(--saturation-factor)* 40)  60     ;
  --opacity-48-hsl:  243 calc(var(--saturation-factor)* 40)  60     ;
  --opacity-52-hsl:  243 calc(var(--saturation-factor)* 40)  60     ;
  --opacity-56-hsl:  243 calc(var(--saturation-factor)* 40)  60     ;
  --opacity-60-hsl:  243 calc(var(--saturation-factor)* 40)  60     ;
  --opacity-64-hsl:  243 calc(var(--saturation-factor)* 40)  60     ;
  --opacity-68-hsl:  243 calc(var(--saturation-factor)* 40)  60     ;
  --opacity-72-hsl:  243 calc(var(--saturation-factor)* 40)  60     ;
  --opacity-76-hsl:  243 calc(var(--saturation-factor)* 40)  60     ;
  --opacity-80-hsl:  243 calc(var(--saturation-factor)* 40)  60     ;
  --opacity-84-hsl:  243 calc(var(--saturation-factor)* 40)  60     ;
  --opacity-88-hsl:  243 calc(var(--saturation-factor)* 40)  60     ;
  --opacity-92-hsl:  243 calc(var(--saturation-factor)* 40)  60     ;
  --opacity-96-hsl:  243 calc(var(--saturation-factor)* 40)  60     ;
}
