:root{
  --primary-100: hsl(  0  0 98);
  --primary-130: hsl(243 31 95);
  --primary-160: hsl(243 30 93);
  --primary-200: hsl(243 29 90);
  --primary-230: hsl(243 28 87);
  --primary-260: hsl(243 27 84);
  --primary-300: hsl(243 26 79);
  --primary-330: hsl(243 25 73);
  --primary-345: hsl(243 24.5 67);
  --primary-360: hsl(243 24 61);
  --primary-400: hsl(243 23 53);
  --primary-430: hsl(243 22 45);
  --primary-460: hsl(243 21 38);
  --primary-500: hsl(243 20 33);
  --primary-530: hsl(243 21 27);
  --primary-560: hsl(243 22 24);
  --primary-600: hsl(243 23 21);
  --primary-630: hsl(243 24 18);
  --primary-645: hsl(243 24.5 17);
  --primary-660: hsl(243 25 15);
  --primary-700: hsl(243 26 13);
  --primary-730: hsl(243 27 11);
  --primary-760: hsl(243 28  9);
  --primary-800: hsl(243 29  7);
  --primary-830: hsl(243 30  5);
  --primary-860: hsl(243 31  3);
  --primary-900: hsl(  0  0  1);

  --primary-500-hsl: 243 20 33;
  --background-modifier-accent: transparent;
}
