@import url('https://ruukulada.github.io/DiscordRevamp/styles/components/circular-servers.css');
@import url('https://ruukulada.github.io/DiscordRevamp/styles/components/text-clarity.css');

/* hide groomer junk */
a[href="https://support.discord.com"],
button[aria-label="Apps"],
button[aria-label="Send a gift"],
div[aria-label="Friends"]>div[aria-label^="Suggestions"],
div[aria-label="Play Activities here"],
div:has(>div[aria-label="Play Activities here"])+div,
div:has(>div>svg>foreignObject>div[aria-label="Download Apps"]),
div[id="textarea-context"]>div>div[role="separator"],
div[id="textarea-context-languages"],
div[id="textarea-context-spellcheck"],
div[id="textarea-context-submit-button"],
div[id="textarea-context-suggestions"],
div[id="textarea-context-vcd-spellcheck-settings"],
svg[class="vc-pindms-collapse-icon"],
ul[aria-label="Direct Messages"]>li:has(a[href="/shop"],a[href="/store"]),
ul[data-list-id="guildsnav"]>div>div>div:has(
div[data-list-item-id="guildsnav___create-join-button"],
div[data-list-item-id="guildsnav___guild-discover-button"])
  { display: none; }
div[aria-label="Close DM"],
div[aria-label="Leave Group"]
  { pointer-events: none; position: absolute; visibility: hidden; }
ul[aria-label="Direct Messages"]>div[role="button"]
  { pointer-events: none; }
